.card-block{
  $this: &;

  position: relative;

  padding: 15px 30px;
  margin-bottom: 10px;

  border-width: 1px;
  border-color: $secondary-grey;
  border-style: solid;
  border-left-width: 4px;
  border-left-color: $primary-grey;
  border-radius: $border-radius-base;

  background-color: $primary-white;

  &__title{
    color: $primary-black;
    font-size: $font-size-large;
    font-weight: bold;
  }

  &__info{
    color: $secondary-mid-grey;
  }

  &__footer{
    color: $secondary-black;
    * {
      vertical-align: middle;
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__rating{
    color: $primary-orange;

    &_disabled{
      color: $secondary-mid-grey;
    }
  }

  &__action-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;

    @media(max-width: $screen-phone){
      span{
        display: none;
      }
    }
  }

  &__context-btn{
    position: absolute;

    width: 20px;
    height: 25px;
    right: 13px;
    top: 20px;

    color: $secondary-dark-grey;

    cursor: pointer;
    transition: $transition-base;

    &:hover{
      color: $primary-purple;

      #{$this}__context-menu{
        display: block;
      }
    }
  }

  &__context-menu{
    position: absolute;
    display: none;

    bottom: -7px;
    right: -20px;
    transform: translateY(100%);
    padding: 15px 20px;

    background-color: $primary-white;

    border: 1px solid $secondary-grey;
    border-radius: $border-radius-base;

    user-select: none;
    z-index: 10;

    &:before{
      content: '';
      position: absolute;
      display: block;

      width: 14px;
      height: 14px;
      top: 0;
      right: 30px;

      background-color: $primary-white;

      border-left: 1px solid $secondary-grey;
      border-top: 1px solid $secondary-grey;

      transform: rotate(45deg) translateY(-11px);
    }
  }

  // modifiers

  &_orange{
    border-left-color: $primary-orange;
  }

  &_purple{
    border-left-color: $primary-purple;
  }

  &_grey{
    #{$this}__title{
      color: $secondary-mid-grey;
    }
  }
}