.inform-block{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  min-width: 145px;
  height: 100%;

  background-color: $primary-grey;
  color: $primary-white;

  border-radius: $border-radius-base;

  &_blue{
    background-color: $primary-blue;
  }

  &__value{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__icon{
    color: $primary-purple;
  }
}