<template>
    <div
      class="card-block"
      :class="`card-block_${this.state}`"
    >
      <div class="card-block__header">
        <span class="card-block__title">
          {{ title }}
        </span>
        <span class="card-block__info">
          {{ info }}
        </span>
      </div>
      <ul class="card-block__menu mt-3">
        <btn-component
          v-for="(btn, indx) in buttons[state]"
          :key="`btn${indx}`"
          :theme="btn.type"
          :text="btn.text"
          :icon="btn.icon"
        ></btn-component>
      </ul>
      <div class="card-block__footer mt-3">
        <span
          class="card-block__rating"
          :class="{ 'card-block__rating_disabled' : !rating }"
        >
          <svg-icon
            name="star"
            :width="16"
            :height="16"
          ></svg-icon>
          <span v-if="rating">{{ rating }} из 5</span>
          <span v-else>{{ $t('card.noRating') }}</span>
        </span>
        <span v-if="review"> ● {{ review }} {{ descTransform(review, $t('reviews')) }}</span>
        <span v-if="reply">, {{ reply }} {{ descTransform(reply, $t('replyShort')) }}</span>
      </div>
      <button-component
        v-show="state === 'orange'"
        class="card-block__action-btn"
        theme="orange"
        text="Требует действий"
        icon="bell"
      ></button-component>
      <div class="card-block__context-btn">
        <svg-icon name="dots"></svg-icon>
        <div class="card-block__context-menu">
          {{ state !== 'grey' ? $t('card.disable') : $t('card.enable') }}
        </div>
      </div>
    </div>
</template>

<script>
import { decWords } from '../helpers/helpers'
import ButtonComponent from './common/ButtonComponent'

export default {
  name: 'CardBlock',
  components: { ButtonComponent },
  props: {
    id: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    state: {
      type: String,
      default: ''
    },
    rating: Number,
    review: Number,
    reply: Number,
    update: Number
  },
  computed: {
    info () {
      let mess = this.state === 'purple' ? this.$t('card.topInfo.allComplete', { count: 30 })
        : this.state === 'orange' ? `30 ${decWords(30, this.$t('card.topInfo.object'))} ● 4 ${this.$t('card.topInfo.complete')} ● 20 ${this.$t('card.topInfo.searching')}` : ''
      return mess ? '● ' + mess : ''
    }
  },
  data () {
    return {
      buttons: {
        'purple': [
          { text: this.$t('card.menuItem.sync'), type: 'purple', icon: 'update' },
          { text: this.$t('card.menuItem.info'), type: 'default', icon: 'check' },
          { text: this.$t('card.menuItem.price'), type: 'default', icon: 'check' },
          { text: this.$t('card.menuItem.photo'), type: 'default', icon: 'check' },
          { text: this.$t('card.menuItem.sales'), type: 'default', icon: 'check' }
        ],
        'orange': [
          { text: this.$t('card.menuItem.createPages'), type: 'default', icon: 'update' },
          { text: this.$t('card.menuItem.info'), type: 'default', icon: 'check' },
          { text: this.$t('card.menuItem.price'), type: 'default', icon: 'check' },
          { text: this.$t('card.menuItem.photo'), type: 'default', icon: 'check' },
          { text: this.$t('card.menuItem.sales'), type: 'default', icon: 'check' }
        ],
        'grey': []
      }
    }
  },
  methods: {
    descTransform (n, v) {
      return Array.isArray(this.$t(v)) ? decWords(n, this.$t(v)) : this.$t(v)
    },
    showContextMenu () {
      return false
    }
  }
}
</script>
