<template>
    <div class="inform-block" :class="typeClass">
      <div class="inform-block__text">
        <div class="inform-block__value">
          <number
            ref="number"
            :from="oldValue"
            :to="value"
            :format="formatNumber"
            :duration="duration"
            :delay="0"
            easing="Power1.easeOut"/>
        </div>
        <div class="inform-block__description">
          {{ description }}
        </div>
      </div>
      <svg-icon
        class="inform-block__icon"
        :name="iconName"
        :width="40"
        :height="40"
      ></svg-icon>
    </div>
</template>

<script>
export default {
  name: 'inform-block',
  props: {
    type: {
      type: String,
      default: ''
    },
    value: {
      type: Number
    },
    description: {
      type: String,
      required: true
    },
    iconName: {
      type: String,
      required: true
    },
    floatNumber: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    typeClass () {
      return this.type ? `inform-block_${this.type}` : ''
    }
  },
  data () {
    return {
      oldValue: 0,
      duration: 1
    }
  },
  watch: {
    value () {
      this.$refs.number.play()
    }
  },
  methods: {
    formatNumber (number) {
      if (this.floatNumber) {
        return number.toFixed(1)
      } else {
        return number.toFixed(0)
      }
    }
  }
}
</script>
