<template>
    <button
      class="button"
      :class="`button__${theme}`"
      @click="$emit('action')"
    >
      <svg-icon
        :name="icon"
        :width="16"
        :height="16"
      ></svg-icon>
      <span>{{ text }}</span>
    </button>
</template>

<script>
export default {
  name: 'ButtonComponent',
  props: {
    theme: {
      type: String,
      default: 'default'
    },
    icon: {
      type: String,
      default: 'check'
    },
    text: {
      type: String,
      default: ''
    }
  }
}
</script>
