<template functional>
  <transition name="fade">
    <div class="lds-ellipsis">
      <span></span><span></span><span></span><span></span>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Loader'
}
</script>
