<template>
  <svg
    class="svg-icon"
    :class="className"
    xmlns="http://www.w3.org/2000/svg"
    :width="width"
    :height="height"
  >
    <title v-if="title">{{ title }}</title>
    <use :xlink:href="iconPath" xmlns:xlink="http://www.w3.org/1999/xlink"/>
  </svg>
</template>

<script>
export default {
  name: 'svg-icon',
  props: {
    name: {
      type: String,
      required: true
    },
    title: {
      type: String,
      default: null
    },
    width: {
      type: Number,
      default: 18
    },
    height: {
      type: Number,
      default: 18
    }
  },
  computed: {
    iconPath () {
      let icon = require(`@/assets/icons/${this.name}.svg`)
      if (Object.prototype.hasOwnProperty.call(icon, 'default')) {
        icon = icon.default
      }
      return icon.url
    },
    className () {
      return 'svg-icon__' + this.name
    }
  }
}
</script>

<style>
  .svg-icon {
    fill: currentColor;
    stroke: currentColor;
  }
</style>
