<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <info-block-component
          type="blue"
          :value="totalReviews"
          :description="descTransform(totalReviews, 'reviews')"
          icon-name="reviews"
        ></info-block-component>
      </div>
      <div class="col">
        <info-block-component
          type="blue"
          :value="totalReplies"
          :description="descTransform(totalReplies, 'reply')"
          icon-name="attention-message"
        ></info-block-component>
      </div>
      <div class="col">
        <info-block-component
          type="blue"
          :value="totalUpdates"
          :description="descTransform(totalUpdates, 'update')"
          icon-name="reload"
        ></info-block-component>
      </div>
      <div class="col">
        <info-block-component
          type="blue"
          :value="Number(totalRating)"
          :description="descTransform(totalRating, 'rating')"
          icon-name="star"
          :float-number="true"
        ></info-block-component>
      </div>
    </div>
    <loader v-if="isLoading"></loader>
    <transition name="fade" v-else>
      <transition-group name="flip-list" tag="div" class="mt-5">
        <card-block-component
          v-for="card in cards"
          :key="`card${card.id}`"
          v-bind="card"
        ></card-block-component>
      </transition-group>
    </transition>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import InfoBlockComponent from './components/InfoBlock'
import CardBlockComponent from './components/CardBlock'
import Loader from './components/common/Loader'
import { decWords } from './helpers/helpers'

export default {
  name: 'app',
  components: {
    InfoBlockComponent,
    CardBlockComponent,
    Loader
  },
  computed: {
    ...mapGetters('cards', {
      totalReviews: 'getTotalReviews',
      totalReplies: 'getTotalReplies',
      totalUpdates: 'getTotalUpdates',
      totalRating: 'getTotalRating'
    }),
    ...mapState({
      isLoading: state => state.cards.isLoading,
      cards: state => state.cards.cards
    })
  },
  data () {
    return {
      test: 18
    }
  },
  methods: {
    descTransform (n, v) {
      return Array.isArray(this.$t(v)) ? decWords(n, this.$t(v)) : this.$t(v)
    }
  }
}
</script>

<style lang="scss">
  @import "scss/style";
</style>
