.button {
  display: inline-block;

  text-align: center;
  vertical-align: middle;

  user-select: none;

  color: $secondary-black;
  background-color: transparent;

  border: 1px solid transparent;
  border-radius: $border-radius-base;
  transition: $transition-base;

  padding: 3px 7px 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
  }

  &:hover {
    color: $secondary-black;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }
  
  &.disabled,
  &:disabled {
    opacity: .7;
    cursor: default;
  }
}

@function getColor($color) {
  @if ($color == 'default') {
    @return $secondary-black;
  } @else {
    @return $primary-white;
  }
}

@function getBorderColor($color, $value) {
  @if ($color == 'default') {
    @return $secondary-grey;
  } @else {
    @return $value;
  }
}

@each $color, $value in $button-colors {
  .button__#{$color} {
    background-color: $value;
    color: getColor($color);
    border-color: getBorderColor($color, $value);

    &:hover{
      background-color: darken($value, 10%);
      color: getColor($color);
      border-color: getBorderColor($color, darken($value, 10%));
      box-shadow: 0 2px 5px rgba($secondary-black, .5);
    }
  }
}
