body{
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $secondary-black;
  *{
    box-sizing: border-box;
  }
}

.container{
  width: auto;
  max-width: $screen-desktop;
  padding: 0 15px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2.5px;
}
.col{
  flex-grow: 1;
  flex-basis: 25%;
  padding: 2.5px;
}

@each $size, $length in $spacers {
  .mt-#{$size} {
    margin-top: $length !important;
  }
  .mb-#{$size} {
    margin-bottom: $length !important;
  }
}

.text-large{
  font-size: $font-size-large;
}
.text-small{
  font-size: $font-size-small;
}