// Colors

$primary-blue: #4A0594;
$primary-orange: #FFAA30;
$primary-black: #000000;
$primary-grey: #CEDAE6;
$primary-purple: #5A39A7;
$primary-white: #ffffff;


$secondary-black: #222222;
$secondary-grey: #E6ECF2;
$secondary-mid-grey: #BBBCC4;
$secondary-dark-grey: #8795A4;

$button-colors: () !default;
$button-colors: map-merge(
  (
    "purple":     $primary-purple,
    "orange":     $primary-orange,
    "default":    $primary-white
  ),
  $button-colors
);


// Typography

$font-family-base: 'Roboto', sans-serif;

$font-size-base: 13px !default;
$font-size-large: ceil(($font-size-base * 1.23)) !default; // ~16px
$font-size-small: ceil(($font-size-base * .85)) !default; // ~11px

$font-size-h2: $font-size-large;

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          $primary-black !default;


// Other
$screen-phone: 480px;
$screen-desktop: 1085px;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3)
  ),
  $spacers
);

$border-radius-base: 4px;


// transitions
$transition-base: all .3s ease-in-out;